*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.layouth{
    display: flex;
    background-color: aqua;
    height: 100%;
    width: 87%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.layouth_page{
    display: flex;
    /* background-color: rgba(0, 255, 255, 0.11); */
    width: 87%;
    flex-direction: column;
    align-items: flex-start;
}
.top_panel{
    background-color: #2d1b1b;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 1px 2px 0px rgb(255 255 255 / 19%),
                1px 1px 4px 0px rgb(255 255 255 / 23%),
                1px 3px 80px 0px rgb(255 255 255 / 15%),
                2px 4px 160px 0px rgb(255 255 255 / 15%);

}
a{
    font-family: Century Gothic;
    font-size: 14px;
}
.top_a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-size: 18px;
}
p{
    font-family: Century Gothic;
    font-size: 15px; 
}
h3{
    font-family: Century Gothic;
}
.page{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page:hover{
    color: rgb(255, 255, 255);
    background-color: #2d1b1ba2;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.41s;
}
.a_pag{
    text-decoration: none;
    padding: 5px;
    width: 35px;
    height: 35px;
}
.page_box{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #ffffff47;
    box-shadow: 1px 1px 10px 1px #00000024;
    border-radius: 3px;
    padding: 0px 10px 0px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    width: 100%;
}
.active{
    color: rgb(255, 255, 255);
    font-family: Century Gothic;
}
.page_box a{
    color: #2d1b1b;
}
.page_style{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-color: #2d1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}
.banner_text{
    color: white;
    text-align: center;
}
.banner_but{
    border-radius: 3px;
    border: 1px solid white;
    margin-top: 40px;
    background-color: #00000000;
    color: white;
}
button{
    font-family: Century Gothic;
    font-size: 18px;
    width: 190px;
    height: 40px;
    cursor:pointer;
    background: url('../img/texture.png') no-repeat;
    background-size: 100% auto;
    background-position: center;
    transition: .3s all ease-in-out;
    background-blend-mode: screen;
    color: #401606;
    box-shadow: 0px 0px 20px 1px #130f1457;
}

button:hover {
    background-size: 150% auto;
    background-color: #ffecd71a;
    background-blend-mode: screen;
    transition: .2s all ease-in-out;
    color: #f5acacd2;
    font-size: 19px;
    border: 1px solid #2d1b1b;
    box-shadow: 0px 0px 20px 1px #130f1457;
}
.p_h{
    font-size: 20px;
    color: #762e12;
    padding: 10px;
    font-weight: bold;
}

.footer{
    background-color: #2d1b1b;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;

    
   
    
}
.footer a{
    color: white;
    font-family: Century Gothic;
    font-size: 15px;
}
.but{
    margin-top: 20px;
    width: 250px;
    border: 1.8px solid #462121d9;
    border-radius: 3px;
    background: url('../img/texture.png') no-repeat;
    background-size: 100% auto;
    background-position: center;
    transition: .3s all ease-in-out;
}

.but:hover {
    background-size: 150% auto;
    transition: .2s all ease-in-out;
    color: #190e20da;
    font-size: 19px;
    border: 1px solid #523232c5;
    background-color: #2d1b1b11;
    box-shadow: 1px 1px 10px 1px #4e242411;
}




  .top_panel li{
    display: inline-block;
    margin: 0 15px;
  }
  .top_panel a{
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding: 4px 0;
  }
  .top_panel a::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
  }
  .top_panel a:hover::before{
    transform: scale3d(1,1,1);
  }

  .errorlist{
    color: #e03d3dd0;
    font-family: Century Gothic;
    font-size: 14px;
  }
  .alert{
    width: 512px;
    padding: 10px;
    margin: 8px;
    max-width: 90%;
    border: 1px solid #2d1b1b3b;
    text-align: center;
    color: #2d1b1bbf;
    font-family: Century Gothic;
    font-size: 14px;
    background-color: #2d1b1b;
    background-color: #b53a3a6e;
    border-radius: 3px;
  }

  li .log_red{
    background: #62575733;
    color: #6e6a67;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px #302d2d2e;
    font-size: 16px;
    text-decoration: none;
  }
  li .log_red:hover{
    transform: scale(1.2);
    color: #aa3c16;
    background-color: #180d0d36;
    -webkit-text-shadow: 20px 20px 20px #0f0911c5;
    -moz-text-shadow: 2px 2px 2px #121114;
    text-shadow: 2px 2px 5px #ffffff8f;
    transition: 0.8s;
    font-size: 18px;
  }

