*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.layouth{
    display: flex;
    background-color: aqua;
    height: 100%;
    width: 87%;
    flex-direction: column;
    align-items: center;
}
.layouth_page{
    display: flex;
    /* background-color: rgba(0, 255, 255, 0.11); */
    width: 87%;
    flex-direction: column;
    align-items: flex-start;
}
.top_panel{
    background-color: #2d1b1b;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
a{
    font-family: Century Gothic;
    font-size: 14px;
}
.top_a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-size: 18px;
}
p{
    font-family: Century Gothic;
    font-size: 15px; 
}
h3{
    font-family: Century Gothic;
}
.page{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page:hover{
    color: rgb(255, 255, 255);
    background-color: #2d1b1ba2;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.41s;
}
.a_pag{
    text-decoration: none;
    padding: 5px;
    width: 35px;
    height: 35px;
}
.page_box{
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid #c59e9e;
    border-radius: 3px;
    padding: 0px 10px 0px 10px;
    margin-top: 30px;
}
.active{
    color: rgb(255, 255, 255);
    font-family: Century Gothic;
}
.page_style{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-color: #2d1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}
.banner_text{
    color: white;
    text-align: center;
}
.banner_but{
    border-radius: 3px;
    border: 1px solid white;
    margin-top: 40px;
    background-color: #00000000;
    color: white;
}
button{
    font-family: Century Gothic;
    font-size: 18px;
    width: 190px;
    height: 40px;
   
}