{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viella</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/style_window.css'%}">
</head>
<body>
    
        
        <div class="top_panel">
            <a href="{% url 'main:main' %}"><img style="width: 100px;" src="{%static 'img/logo.png'%}"></a>
            <ul>
              <li><a class="top_a" href="{% url 'main:main' %}">Главная</a></li>
              <li> <a class="top_a" href="{% url 'talons_sertificats' %}">Cертификаты</a></li>
              <li><a class="top_a" href="{% url 'stop' %}">Противопоказания</a></li>
              <li><a class="top_a" href="{% url 'main:prices' page_number=1 %}">Цена</a></li>
              <li><a class="top_a" href="{% url 'about' %}">О нас</a></li>
              <li><a class="top_a" href="{% url 'main:comments' page_number=1 %}">Отзывы</a></li>
              <li><a class="top_a" href="{% url 'contact' %}">Контакты</a></li>
            
            
            </ul>
        </div>

       


        <div style="position: absolute;
                    margin-top: 70px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-end;
                    margin-right: 50px;">

            {%if request.user.is_authenticated%}
            <p style="    background: #62575733;
            color: #6e6a67;
            padding: 5px;
            border-radius: 3px;
            box-shadow: 1px 1px 10px 1px #302d2d2e;
            font-size: 16px;">Здравствуй, <span style="font-size: 20px; color: #b33434; font-weight: bold;">{{user.username}}</span></p> | <li style="list-style-type: none;"><a class="log_red" href="{%url 'logout'%}">Выйти</a>
            {%else%}
            <li style="list-style-type: none;"><a class="log_red" href="{% url 'register' %}">Регистрация</a></li> | <li style="list-style-type: none;"><a class="log_red" href="{% url 'login' %}">Вход</a></li>
            {%endif%}

            </div>
  

    <div class="layouth">
    <!-- мы находимся в этой коробке, из-за чего выравнивание баннера невозможно с нашими параметрами, он должен быть как отдельный блок. -->
    <p>тут могли бы быть хлебные крошки</p>
    <!-- Она находится root и остается не изменной, нужно создавать ее отдельно на страничках -->
    </div>

    {%block content%}
    
    {%endblock%}


    <div class="footer">

        <div>
            <p>НАШИ СТАНДАРТЫ</p><br>
            <p>Сервис высокого уровня:<br>
                Каждый клиент для нас индивидуален и с особым подходом<br>
                к необходимым процедурам.<br>
                <br>
                Услуги высокого качества:<br>
                Мы относимся к своей работе профессионально грамотно.<br>
                Гарантия качества усллуг:<br>
                <br>
                На все услуги связанные с применением компоненотов<br>
                фирм производителей предоставляется гарантия исертификат.</p>
        </div>

        <div style="display: flex; flex-direction: column;">
            <p>© 2023 “VIELLA”</p><br>
            <p><a href="{% url 'main:main' %}">Главная</a></p>
            <br>
            <p><a href="{% url 'talons_sertificats' %}">Cертификаты</a></p>
            <br>
            <p><a href="{% url 'stop' %}">Противопоказания</a></p>
            <br>
            <p><a href="{% url 'main:prices' page_number=1 %}">Цена</a></p>
            <br>
            <p><a href="{% url 'about' %}">О нас</a></p>
            <br>
            <p><a href="{% url 'main:comments' page_number=1 %}">Отзывы</a></p>
        </div>

        <div>
            <p>НАШИ КОНТАКТЫ</p><br>
            <p>8(909)146-08-26</p><br>
            <p>spa_salon@gmail.com</p><br>
            <p>Ул. Куйбышева, 28 офис 510</p><br>
            <p>Ежедневно с 10:00 до 20:00</p>
        </div>
    </div>






</body>
</html>