{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viella</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="top_panel">
        <a href="{% url 'main:main' %}" style="font-size: 25px; color: white; text-decoration: none;">VIELLA</a>
        <a class="top_a" href="{% url 'main:main' %}">Главная</a>
        <a class="top_a" href="{% url 'talons_sertificats' %}">Талоны и сертификаты</a>
        <a class="top_a" href="{% url 'stop' %}">Противопоказания</a>
        <a class="top_a" href="{% url 'main:prices' page_number=1 %}">Цена</a>
        <a class="top_a" href="{% url 'about' %}">О нас</a>
        <a class="top_a" href="{% url 'comment' %}">Отзывы</a>
        <a class="top_a" href="{% url 'contact' %}">Контакты</a>
    </div>

    <div class="layouth">
    <!-- мы находимся в этой коробке, из-за чего выравнивание баннера невозможно с нашими параметрами, он должен быть как отдельный блок. -->
    <p>тут могли бы быть хлебные крошки</p>
    <!-- Она находится root и остается не изменной, нужно создавать ее отдельно на страничках -->
    </div>

    {%block content%}
    
    {%endblock%}
    <div class="footer"></div>

</body>
</html>