{%extends 'root.html'%}
{%block content%}
{%load static%}

<style>
input{
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #d7cbcb;
    margin: 10px;
    font-size: 16px;
    font-family: Century Gothic;
}

textarea{
    resize: none; 
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    font-family: Century Gothic;
}
li{
    font-size: 14px;
    font-family: Century Gothic;
}

.body{
        background-image: url('{% static "img/ca.jpg"%}'); 
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
}
</style>


<div class="body">

<p class="p_h" style="margin-top: 70px;">Отзывы</p>

<div style="    display: flex;
                flex-direction: row-reverse;
                width: 59%;
                padding: 30px 0px 30px 0px;
                align-items: center;
                background-color: #ebd4d41f;
                justify-content: space-between;">
<div style="    background-color: #d7cbcb38;
                width: 300px;
                padding: 25px;
                border-radius: 3px;
                align-items: center;
                flex-direction: column;">
    <p style="color: #2d1b1b; font-size: 16px; margin-bottom: 5px;"><b>Правила модерации комментариев</b></p>
    <ul>
        <li>Используйте ваше имя или псевдоним для комментирования. Комментарии от пользователей типа “Веб-дизайн компания” будут помечены как спам и удалены.</li>
        <li>Kюбой комментарий, который включает оскорбительную, грубую или ненормативную лексику, будет удален.</li>
        <li>Критика приветствуется в мягкой форме, оскорбительная и неаргументированная критика запрещается.</li>
        <li>Все лишенные смысла и не относящиеся к тематике сайта комментарии (спам) будут удалены.</li>
        <li>Не прикрепляйте рекламные ссылки, ссылки на ваши сайты или другие проекты. Они будут удалены.</li>
    </ul>
    

</div>

<form action="" method="post"  style="display: flex; flex-direction: column; font-size: 16px; font-family: Century Gothic;">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Добавить комментарий" style="margin-top: 20px;">
</form>

</div>



    <div style="width: 55%;
                padding: 30px;
                box-shadow: 1px 1px 20px 1px #9391902b;
                border-radius: 3px;
                background-color: #ffffffb5;">
    {%for com in comments%}
    <div style="padding: 20px;">
        <div style="display: flex; align-items: center;">
            <img style="width: 30px;
                        padding: 2px;
                        margin-right: 5px;
                        border-radius: 50%;
                        background-color: #f1f1f1;" src="/static/img/user.png">
           
            <p style="font-size: 16px; color: #b33434;"><b>{{com.name}}</b> <span style="color: rgba(66, 59, 59, 0.411); font-size: 14px;">пишет:</span></p>
        </div>
        <p style="color: rgba(66, 59, 59, 0.411); font-size: 14px;">{{com.create_date}}</p>
        <p style="margin-top: 10px;">{{com.text}}</p>
        <hr style="opacity: 0.4; margin-top: 15px;">
    </div>
    {%endfor%}
    



        <div class="page_box">
            {% if page_comments.has_previous %}
                <a  class="a_pag" href="{% url 'main:comments' page_comments.previous_page_number %}"><p class="page">❮</p></a>
                <a  class="a_pag" href="{% url 'main:comments' page_comments.previous_page_number %}"><p class="page">{{ page_comments.previous_page_number}}</p></a>
            {% endif %}
        
            <div class="page_style">
                <p class="page active">{{ page_comments.number }}</p>
            </div>
        
            {% if page_comments.has_next %}
                <a class="a_pag" href="{% url 'main:comments' page_comments.next_page_number %}"><p class="page">{{page_comments.next_page_number}}</p></a>
                <p>...</p>
                <a class="a_pag" href="{% url 'main:comments' page_comments.next_page_number %}"><p class="page">❯</p></a>
            {% endif %}
        </div>
    

   
    
    </div>


</div>
{%endblock%}