{%extends 'root.html'%}
{%load static%}
{%block content%}
<style>
    html
    {
        overflow-x: hidden;
    }
    .banner{
        width: 100%; 
        height: 100vh;
        background-image: url('{% static "img/banner.jpg"%}'); 
        background-size: 100% 100%;
        padding: 20px ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block_2{
        width: 100%; 
        height: 80vh;
        background-image: url('{% static "img/banner_fon.jpg"%}'); 
        /* background-size: 100% 100%; */
        padding: 20px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(30px) saturate(120%) contrast(200%);
 }
    .block_3{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="banner">
    <div class="layouth_page">
        <div class="time">
            <p>Ежедневно с 10:00 до 20:00<br>
            8(909) 146-08-26</p> 
       </div>
       <div style="display: flex; flex-direction: column; align-items: center; padding-top: 60px;">
       <div class="banner_text">
        <p style="font-size: 72px;">Массажный <br>
            салон</p><img style="width: 300px;" src="{%static 'img/logo.png'%}">
        <p style="font-size: 20px; padding-top: 40px;">Отличное настроение и заряд бодрости с помощью<br>
           оздоровительного МАССАЖА на весь день.</p>
       </div>
       <button class="banner_but">Записаться</button>
       </div>
    </div>
</div>



<div class="block_2">
    <p class="p_h">Каждый массаж имеет уникальную технику</p>
    <div style="display: flex; width: 100%; justify-content: space-evenly; height: 470px; margin-top: 40px;">
        <img style="height: 470px; height: 470px;" src="{%static 'img/dop.png'%}">

        <div style="display: flex; height: 100%;">
            <img  style="border-radius: 3px; max-width: 300px;" src="{%static 'img/spa.jpg'%}">
            <div style="padding: 0px 30px 0px 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;">
                <img style="width: 300px; border-radius: 3px;" src="{%static 'img/Polza-medovogo-massazha.jpg'%}">
                <div style="display: flex; flex-direction: column;align-items: center; justify-content: space-between;">
                    <p class="p_h">Сертификаты</p>
                    <p>Если поиск подарка для вас<br>
                        кажется тяжёлой задачей,<br>
                        воспользуйтесь предложением<br>
                        массажного салона "Viella" -<br>
                        подарочным сертификатом на<br>
                        посещение СПА-центра
                    </p>
                    <a class="top_a" href="{% url 'talons_sertificats' %}"><button class="but" style="margin-top: 20px; width: 250px;">Перейти</button></a>
                </div>
            </div>

            <div style="display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 40px;">
                <ul style="line-height: 2.10;">
                {%for massage in massage_list%} 
                <li>
                    <p>{{massage.name}}</p>
                </li>
                {%endfor%}
            </ul>
            <p>Подробнее о ценах<br>
            можете узнать здесть:</p>
            <a href="{% url 'main:prices' page_number=1 %}"><button class="but" style="width: 250px;">Перейти</button></a>
            </div>
            
        </div>

    </div>
</div>


<div class="Block_3">
    <iframe style="margin-top: 40px;"
            width="860" height="515" src="https://www.youtube.com/embed/-eOyqfwCDUY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>
</div>
<h1>Вот продолжение</h1>
{%endblock%}
