{%extends 'root.html'%}
{%block content%}



<ul style="list-style-type: none;
            display: flex;
            width: 86%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;">
    {%for massage in massage_list%} 
    <div style="border: 1px solid #c59e9e;
                border-radius: 3px;
                background-color: white;
                margin: 15px 0px 15px 0px;
                padding: 15px;">
    <li>
        <div style="display: flex; align-items: center;">
        <div style="display: flex;
                    flex-direction: column;
                    width: 310px;">
        <h3>{{massage.name}}</h3>
        <p style="margin-top: 15px;">{{massage.description}}</p>
        <div style="display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    margin-top: 15px;">
            <div style="display: flex; flex-direction: column;">
        <p>15 мин - {{massage.fifteen_minutes}} ₽</p>
        <p>30 мин - {{massage.thirty_minutes}} ₽</p>
        <p>45 мин - {{massage.forty_five_minutes}} ₽</p>
        <p>60 мин - {{massage.sixty_minutes}} ₽</p>
            </div>
        <div style="display: flex;">
        <a href="#">Противопоказания...</a>
        </div>
        </div>
        </div>
        <img style="height: 170px;
                    margin-left: 15px;
                    border-radius: 3px;"
                src = "{{massage.image.url}}">
    </li>
    </div>

    {%endfor%}

    
    
</ul>


<div class="page_box">
    {% if massage_list.has_previous %}
        <a  class="a_pag" href="{% url 'main:prices' massage_list.previous_page_number %}"><p class="page">❮</p></a>
        <a  class="a_pag" href="{% url 'main:prices' massage_list.previous_page_number %}"><p class="page">{{ massage_list.previous_page_number}}</p></a>
    {% endif %}

    <div class="page_style">
        <p class="page active">{{ massage_list.number }}</p>
    </div>

    {% if massage_list.has_next %}
        <a class="a_pag" href="{% url 'main:prices' massage_list.next_page_number %}"><p class="page">{{massage_list.next_page_number}}</p></a>
        <p>...</p>
        <a class="a_pag" href="{% url 'main:prices' massage_list.next_page_number %}"><p class="page">❯</p></a>
    {% endif %}
</div>

{%endblock%}