{%extends 'root.html'%}
{%block content%}
{%load static%}


<style>
    .body{
        background-image: url('{% static "img/ca.jpg"%}'); 
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
}
</style>


<div class="body">

<p class="p_h" style="margin-top: 70px;">Прйс на услуги</p>
<div style="width: 87%;">
<ul style="    list-style-type: none;
                display: flex;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;">
    
    {%for massage in massage_list%} 
    <div style="border-radius: 3px;
                background-color: #ffffff94;
                box-shadow: 1px 1px 10px 1px #00000047;
                margin: 15px 0px 15px 0px;
                padding: 15px;">
    <li>
        <div style="display: flex; align-items: center;">
        <div style="display: flex;
                    flex-direction: column;
                    width: 310px;">
        <p class="p_h">{{massage.name}}</p>
        <p style="margin-top: 15px;">{{massage.description}}</p>
        <div style="display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    margin-top: 15px;">
            <div style="display: flex; flex-direction: column;">
        <p>15 мин - {{massage.fifteen_minutes}} ₽</p>
        <p>30 мин - {{massage.thirty_minutes}} ₽</p>
        <p>45 мин - {{massage.forty_five_minutes}} ₽</p>
        <p>60 мин - {{massage.sixty_minutes}} ₽</p>
            </div>
        <div style="display: flex;">
        <a style="color: #255f9b;" href="{% url 'stop' %}">Противопоказания...</a>
        </div>
        </div>
        </div>
        <img style="height: 170px;
                    margin-left: 15px;
                    border-radius: 3px;
                    width: 230px;
                    object-fit: cover;"
                src = "{{massage.image.url}}">
    </li>
    </div>

    {%endfor%}






    <div class="page_box">
        {% if massage_list.has_previous %}
            <a  class="a_pag" href="{% url 'main:prices' massage_list.previous_page_number %}"><p class="page">❮</p></a>
            <a  class="a_pag" href="{% url 'main:prices' massage_list.previous_page_number %}"><p class="page">{{ massage_list.previous_page_number}}</p></a>
        {% endif %}
    
        <div class="page_style">
            <p class="page active">{{ massage_list.number }}</p>
        </div>
    
        {% if massage_list.has_next %}
            <a class="a_pag" href="{% url 'main:prices' massage_list.next_page_number %}"><p class="page">{{massage_list.next_page_number}}</p></a>
            <p>...</p>
            <a class="a_pag" href="{% url 'main:prices' massage_list.next_page_number %}"><p class="page">❯</p></a>
        {% endif %}
    </div>


    

    

    
</ul>



</div>

</div>


{%endblock%}